<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<h2>Here are all the cocktails:</h2>

<ul>
<% @cocktails.each do |cocktail| %>
<li>
  <p> <%= cocktail.name %></p>
  <%= link_to "Show", cocktail_path(cocktail) %>
  <%= link_to "Delete", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure you want to delete it?" }  %>

</li>
<% end %>
</ul>

<%= link_to "Add a new cocktail", new_cocktail_path %>
